includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/
        - database/
        - resources/
        - routes/

    # Level 10 is the highest level
    level: 9

    ignoreErrors:
#        - '#Trait .* is used zero times and is not analysed#'

    excludePaths:
      - database\migrations\2025_08_13_193244_create_permission_tables.php
      - config/log-viewer.php
      - config/settings.php

#        - ./*/*/FileToBeExcluded.php
#
#    checkMissingIterableValueType: false
