/* Override Filament styles */

/* Topbar */
/* .fi-topbar {
  @apply border-0 bg-white/80 shadow-lg ring-1 ring-black/5 dark:bg-slate-900/80 dark:ring-white/10;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
} */

/* Sidebar */
.fi-sidebar {
  @apply bg-white/80 border-0 shadow-sm dark:bg-slate-900/90;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}
.fi-sidebar:not(.fi-sidebar-open) {
  @apply w-[56px];
}
.fi-sidebar-nav {
  @apply p-0 border-r;
  border-color: var(--border-color-base);
  scrollbar-gutter: unset !important;
}
.fi-sidebar-nav-groups {
  @apply gap-y-0 mx-0 mb-16;
}
.fi-sidebar-nav-groups .fi-sidebar-group {
  @apply border-b p-2 gap-0;
  border-color: var(--border-color-base);
}
.fi-sidebar-nav-groups .fi-sidebar-group .fi-sidebar-group-items {
  @apply p-0;
}
.fi-sidebar-nav-groups .fi-sidebar-group .fi-sidebar-group-button {
  /* @apply border-b; */
}
.fi-sidebar-item {
  /* @apply border; */
}
.fi-sidebar-item-button {
  @apply rounded-md p-2;
}
.fi-sidebar-item-active > .fi-sidebar-item-button {
  @apply bg-white drop-shadow dark:bg-gray-800;
}

.fi-simple-main-ctn {
  @apply bg-amber-300;
}

.fi-simple-main {
  @apply max-w-md mx-auto;
}
